@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
:root {
  --main-orange: #FF9A00;
  --baby-blue: #3EC1D3;
  --fushia-pink: #FF165D;
  --dark-teal: #215860; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif; }

nav {
  display: block;
  background: var(--baby-blue); }
  nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap; }
    nav ul li {
      padding: 0.7em;
      text-align: center; }
      nav ul li a {
        text-decoration: none;
        color: white; }

header {
  padding: 1em;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header h1 {
    font-size: 5em; }
  header ul {
    padding: 1em; }
    header ul li {
      list-style-type: none; }

main.index {
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: center;
  background: antiquewhite;
  bottom: 0;
  padding-bottom: 4em;
  border-radius: 1em 1em 0 0; }
  main.index ul li {
    list-style-type: none; }
  main.index section {
    padding: 1em; }
    main.index section h2 {
      color: black;
      transition: 300ms ease-in-out;
      --before-top: .5em;
      --before-bg: gray;
      --before-height: 0.2em; }
      main.index section h2::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 3em;
        height: var(--before-height);
        top: var(--before-top);
        background: var(--before-bg);
        transition: 300ms ease-in-out; }
      main.index section h2:hover::before {
        top: 1.8em;
        height: .1em;
        background: var(--baby-blue); }
      main.index section h2:hover {
        color: var(--main-orange); }
    main.index section a {
      text-decoration: none;
      color: var(--dark-teal);
      transition: 300ms ease-in-out; }
      main.index section a:hover,
      main.index section a :active {
        font-weight: 900;
        color: black; }
  main.index .notes ul li:hover h2::before {
    top: 1.8em;
    height: .1em;
    background: var(--baby-blue); }

img {
  width: 20em;
  display: block;
  position: relative;
  margin: auto; }

.animateHighlight::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 3em;
  background: gray;
  height: 0.2em;
  top: 0.5em;
  transition: 300ms ease-in-out; }

article {
  padding: 2em; }
  article p {
    margin: 0.9em; }

footer {
  width: 100vw;
  padding: 1em;
  position: absolute;
  display: block;
  bottom: 0;
  background: var(--dark-teal);
  color: white;
  letter-spacing: .1em;
  font-size: 0.5em; }

.slidershow {
  width: 90%;
  height: 50%;
  overflow: hidden;
  margin: auto;
  top: 1em;
  position: relative; }

.navigation {
  display: flex;
  justify-content: center; }

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid var(--main-orange);
  margin: 6px;
  cursor: pointer;
  transition: 0.4s; }

.bar:hover {
  background: var(--main-orange); }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

.slides {
  width: 500%;
  height: 100%;
  display: flex; }

.slide {
  width: 20%;
  transition: 0.6s; }

.slide img {
  width: 100%;
  height: 100%; }

#r1:checked ~ .s1 {
  margin-left: 0; }

#r2:checked ~ .s1 {
  margin-left: -20%; }

#r3:checked ~ .s1 {
  margin-left: -40%; }

#r4:checked ~ .s1 {
  margin-left: -60%; }

#r5:checked ~ .s1 {
  margin-left: -80%; }

.container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 45%;
  user-select: none;
  background-color: #1c1c1c;
  box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); }
  .container input {
    display: none; }
  .container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .container .slide_img img {
      width: inherit;
      height: inherit; }
    .container .slide_img .prev,
    .container .slide_img .next {
      width: 12%;
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 99;
      transition: .45s;
      cursor: pointer;
      text-align: center; }
    .container .slide_img .next {
      right: -6em; }
    .container .slide_img .prev {
      left: -6em; }
    .container .slide_img .prev:hover,
    .container .slide_img .next:hover {
      transition: .3s; }
    .container .slide_img .prev span,
    .container .slide_img .next span {
      position: absolute;
      width: 0px;
      height: 0px;
      border: solid 20px;
      top: 50%;
      transform: translateY(-50%); }
    .container .slide_img .prev span {
      border-color: transparent black transparent transparent;
      right: 35%; }
    .container .slide_img .next span {
      border-color: transparent transparent transparent black;
      left: 35%; }
  .container #nav_slide {
    width: 100%;
    bottom: -5%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default; }
    .container #nav_slide .dots {
      top: -5px;
      width: 18px;
      height: 18px;
      margin: 0 3px;
      position: relative;
      border-radius: 100%;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.6);
      transition: .4s;
      cursor: pointer; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight,
#i9:checked ~ #nine,
#i10:checked ~ #ten,
#i11:checked ~ #eleven,
#i12:checked ~ #twelve,
#i13:checked ~ #thirteen,
#i14:checked ~ #fourteen,
#i15:checked ~ #fifteen,
#i16:checked ~ #sixteen,
#i17:checked ~ #seventeen,
#i18:checked ~ #eighteen,
#i19:checked ~ #nineteen,
#i20:checked ~ #twenty,
#i21:checked ~ #twentyone,
#i22:checked ~ #twentytwo,
#i23:checked ~ #twentythree,
#i23:checked ~ #twentyfour {
  z-index: 9;
  animation: scroll 1s ease-in-out; }

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5,
#i6:checked ~ #nav_slide #dot6,
#i7:checked ~ #nav_slide #dot7,
#i8:checked ~ #nav_slide #dot8,
#i9:checked ~ #nav_slide #dot9,
#i10:checked ~ #nav_slide #dot10,
#i11:checked ~ #nav_slide #dot11,
#i12:checked ~ #nav_slide #dot12,
#i13:checked ~ #nav_slide #dot13,
#i14:checked ~ #nav_slide #dot14,
#i15:checked ~ #nav_slide #dot15,
#i16:checked ~ #nav_slide #dot16,
#i17:checked ~ #nav_slide #dot17,
#i18:checked ~ #nav_slide #dot18,
#i19:checked ~ #nav_slide #dot19,
#i20:checked ~ #nav_slide #dot20,
#i21:checked ~ #nav_slide #dot21,
#i22:checked ~ #nav_slide #dot22,
#i23:checked ~ #nav_slide #dot23,
#i24:checked ~ #nav_slide #dot24 {
  background: #F44336; }

@keyframes scroll {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%; }
    .container .slide_img .prev,
    .container .slide_img .next {
      width: 15%; }
    .container .slide_img .prev span,
    .container .slide_img .next span {
      border: solid 12px; }
    .container .slide_img .prev span {
      border-color: transparent #fff transparent transparent; }
    .container .slide_img .next span {
      border-color: transparent transparent transparent #fff; }
    .container #nav_slide .dots {
      width: 12px;
      height: 12px; } }
section.intro {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
  padding: 2em;
  text-align: center; }
  section.intro h1 {
    color: gray;
    font-size: 5em;
    word-break: break-word; }
  section.intro h2 a {
    text-decoration: none;
    color: var(--main-orange); }

article ul {
  list-style-type: none;
  padding: 1em; }
  article ul li:before {
    content: "→";
    color: var(--main-orange);
    padding-right: 0.4em; }
article h4 {
  color: #00BCD4; }
  article h4:after {
    content: "";
    width: 3em;
    height: 1.4em;
    background: var(--main-orange);
    display: inline-block;
    position: absolute;
    left: 0;
    transform: translate(1.8em, 0em) rotate(-15deg);
    border-radius: 1.3em 0;
    mix-blend-mode: color-dodge; }
  article h4 a {
    text-decoration: none;
    color: black; }
    article h4 a::after {
      content: "↩"; }
article q {
  padding: 2em;
  display: block;
  text-align: center;
  color: gray;
  font-family: monospace;
  font-weight: bold; }
article h5 {
  font-size: 1.2em; }
  article h5::before {
    content: "»";
    color: var(--main-orange);
    padding-right: 0.4em; }

.active a {
  color: black; }
  .active a:before {
    content: "";
    position: absolute;
    width: 1em;
    transform: translate(1em, 1.4em);
    height: 0.1em;
    background: #266b96; }

@media screen and (min-width: 500px) {
  article {
    width: 40em;
    margin: auto; }
    article h4 {
      font-size: 1.5em;
      position: relative;
      margin: 1em; }
      article h4::after {
        transform: translate(-0.2em, 0em) rotate(-15deg); }

  .intro-img {
    width: 20em !important;
    top: -5.3em !important;
    z-index: -1 !important; } }

/*# sourceMappingURL=style.css.map */
